<footer class=" bg-body-tertiary py-2">
    <div class="container">
            <h3>Get The FreshCart App</h3>
        <p>We Will Send You A Link, Open It On Your Phone to Download The App</p>
        <div class="row border-bottom pb-4">
            <div class="col-lg-9">
                <input type="text" placeholder="Email..." class="form-control">
            </div>
            <div class="col-lg-3">
                <button class="main-btn text-white">Share App Link</button>
            </div>
        </div>
        <div class="d-flex gap-3 py-4 border-bottom">
            <p>Payment Partners</p>
            <img class="w-5" src="./assets/images/Amazon-Pay-logo.svg" alt="amzon">
            <img class="w-5" src="./assets/images/PayPal-Logo.png" alt="amzon">
            <img class="w-5" src="./assets/images/mastercard_logo.svg__3.png" alt="amzon">
        </div>
        <h3 class="h6 fw-bold text-center my-2">&copy; 2024 Rana Khaled All Rights Reserved</h3>
    </div>
</footer>