:host{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container
{
    padding-top: 80px;
}
.btn-up
{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    border:unset;
}