
$shadow: #0aad0a 0px 2px 4px -1px, #6bd66b 0px 4px 5px 0px, #048304 0px 1px 10px 0px;


.category-border{

    transition: all 0.5s;
    overflow: hidden;
    &:hover
    {
       box-shadow: $shadow;
    }
}