<section class="shadow  rounded p-4 my-4 bg-main-light">
    <div class="w-75 mx-auto py-5">
        <h3 class="text-main">Update Now:</h3>
        <form (submit)="submit()" [formGroup]="updateForm">
            
            <div class="mb-3">
                <label>Current Password :</label>
                <input type="password" formControlName="currentPassword" class="form-control">
                <div *ngIf="updateForm.get('currentPassword')?.errors && updateForm.get('currentPassword')?.touched" class="alert alert-danger mt-2">
                    <p *ngIf="updateForm.get('currentPassword')?.errors?.['required']">Current Password Is Requierd</p>
                </div>
            </div>

            <div class="mb-3">
                <label>Password :</label>
                <input type="password" formControlName="password" class="form-control">
                <div *ngIf="updateForm.get('password')?.errors && updateForm.get('password')?.touched" class="alert alert-danger mt-2">
                    <p *ngIf="updateForm.get('password')?.errors?.['required']">Password Is Requierd</p>
                    <p *ngIf="updateForm.get('password')?.errors?.['pattern']">Minimum 8 characters, Maximum 16 characters, at least one capital letter , one number and one special character</p>
                </div>
            </div>

            <div class="mb-3">
                <label>Re-Password :</label>
                <input type="password" formControlName="rePassword" class="form-control">
                <div *ngIf="updateForm.get('rePassword')?.errors && updateForm.get('rePassword')?.touched" class="alert alert-danger mt-2">
                    <p *ngIf="updateForm.get('rePassword')?.errors?.['required']">Re-Password Is Requierd</p>
                    <p *ngIf="updateForm.get('rePassword')?.errors?.['misMatch']">Password Conformation Is Incorrect</p>
                </div>
            </div>


            <h3 *ngIf="MessageError" class="alert alert-danger">{{MessageError}}</h3>
            <button [disabled]="updateForm.invalid" type="submit" class="main-btn text-white  d-block ms-auto">Update <i *ngIf="checkCorrectData" class="fa-solid fa-spinner fa-spin"></i></button>
        </form>
    </div>
</section>